extends ./page-template

block main
    h1 Not Authorized
    p Add <code>?user=</code> to set the user identifier for each request.
    p Specify <code>?user=root</code> for adminsitration, and <code>?user=user1</code> for ordinary access. Other user identifiers will be denied.
